# common
.venv
build
dist
__pycache__
results
uploads
models
soy_AI_Analysis

# api
soy-api2/images
soy-api2/results
soy-api2/uploads

# frontend
soy-frontend2/assets
soy-frontend2/node_modules
soy-frontend2/public
soy-frontend2/server
